* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main .nav {

}

.main .content {

}
