* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    background-color: rgb(126,126,126);
}

.main .nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.main .nav .nav-top{

}

.main .nav .nav-top > h1 {

}

.main .nav .project-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main .nav .project-list .project-list-detail {
    display: flex;
}

.main .nav .project-list h2 {
    margin-right: auto;
    cursor: pointer;
}

.main .nav .add-project {
    text-align: right;
}

.main .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.main .content .content-top{
    display: flex;
}

.main .content .content-top .content-top-info {
    margin-right: auto;
}

.main .content .content-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main .content .content-main .content-card {
    background-color: lightgreen;
    width: clamp(100px,150px, 200px);
    height: clamp(100px,150px, 200px);
}

.main .content .add-content {
    text-align: right;
}

.modal.new-project {
    display: none;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}

.modal.new-project form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.new-project.active {
    display: block;
}



.modal.edit-project {
    display: none;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}

.modal.edit-project form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.edit-project.active {
    display: block;
}




.modal.new-todo-task {
    display: none;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}

.modal.new-todo-task form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.new-todo-task.active {
    display: block;
}



.modal.edit-todo-task {
    display: none;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}

.modal.edit-todo-task form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.edit-todo-task.active {
    display: block;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
     /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.overlay.active {
    display: block;
}


.edit-project, .content-card {
    hover: pointer;
}

.emergency {
    background-color: #222;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #222;
  }
}


.hide {
    display: none;
}